In [231]:
import pandas as pd
import numpy as np
import seaborn as sns
import sklearn

In [232]:
df_train=pd.read_csv(r'C:\Users\acer\Downloads\5959806800cb11ec\dataset/train.csv')

In [233]:
df_test=pd.read_csv(r'C:\Users\acer\Downloads\5959806800cb11ec\dataset/test.csv')

In [234]:
df_train.shape

(2952, 70)

In [235]:
df_train

,patient_id,tumor_cell_count,gender,age_group,race,year_of_diagnosis,morphology_code,year_of_death,smoke_units,area_code,...,symptom58,symptom59,symptom60,symptom61,symptom62,symptom63,symptom64,symptom65,symptom66,death_due_to_cancer
0,TCBA-B8-0x204,7,Male,60-64,NaN,2010,81403,2016.0,34,2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,TCBA-B8-0x1063,1,Male,85-89,White,2012,80463,2016.0,4,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,TCBA-B8-0xb7d,1,Female,70-74,White,2013,80103,2018.0,20,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,TCBA-B8-0xfa7,104,Female,65-69,White,2013,80463,2018.0,20,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,TCBA-B8-0xdc,21,Male,50-54,White,2010,80463,2016.0,20,5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2947,TCBA-B8-0xb4f,1,Female,80-84,White,2013,80003,2019.0,8,7,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2948,TCBA-B8-0xacb,1,Female,NaN,White,2009,82463,NaN,4,8,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2949,TCBA-B8-0x389,1,Male,75-79,White,2011,88003,2016.0,20,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2950,TCBA-B8-0xf8c,1,Female,65-69,White,2009,80463,2016.0,20,3,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2951,TCBA-B8-0xeb,1,Male,70-74,White,2012,80103,2017.0,15,3,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [236]:
df_test.shape

(1969, 69)

In [237]:
df_train.isnull().sum()

patient_id               0
tumor_cell_count         0
gender                   0
age_group               25
race                   303
                      ...
symptom63                0
symptom64                0
symptom65                0
symptom66                0
death_due_to_cancer      0
Length: 70, dtype: int64

In [238]:
df_train.drop(['race','age_group','area_code'],axis=1,inplace=True)

In [239]:
df_test.drop(['race','age_group','area_code'],axis=1,inplace=True)

In [240]:
df_train.isnull().sum()

patient_id             0
tumor_cell_count       0
gender                 0
year_of_diagnosis      0
morphology_code        0
                      ..
symptom63              0
symptom64              0
symptom65              0
symptom66              0
death_due_to_cancer    0
Length: 67, dtype: int64

In [241]:
df_train['diag_years']=df_train['year_of_death']-df_train['year_of_diagnosis']

In [242]:
df_test['diag_years']=df_test['year_of_death']-df_test['year_of_diagnosis']

In [243]:
df_train['diag_years'].fillna(df_train['diag_years'].median(),inplace=True)

In [244]:
df_test['diag_years'].fillna(df_test['diag_years'].median(),inplace=True)

In [245]:
df_train.diag_years.isnull().sum()

0

In [246]:
df_train.drop(['year_of_death'],axis=1,inplace=True)

In [247]:
df_test.drop(['year_of_death'],axis=1,inplace=True)

In [248]:
df_train.isnull().sum()

patient_id             0
tumor_cell_count       0
gender                 0
year_of_diagnosis      0
morphology_code        0
                      ..
symptom64              0
symptom65              0
symptom66              0
death_due_to_cancer    0
diag_years             0
Length: 67, dtype: int64

In [249]:
df_test.isnull().sum()

patient_id           0
tumor_cell_count     0
gender               0
year_of_diagnosis    0
morphology_code      0
                    ..
symptom63            1
symptom64            1
symptom65            1
symptom66            1
diag_years           0
Length: 66, dtype: int64

In [250]:
df_train.describe()

,tumor_cell_count,year_of_diagnosis,morphology_code,smoke_units,alcohol_consume_units,symptom1,symptom2,symptom3,symptom4,symptom5,...,symptom59,symptom60,symptom61,symptom62,symptom63,symptom64,symptom65,symptom66,death_due_to_cancer,diag_years
count,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,...,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000,2952.000000
mean,8.036924,2010.925136,80940.815718,14.992209,3.258469,0.139566,0.021341,0.021680,0.131436,0.047425,...,0.026423,0.026084,0.023713,0.019986,0.020325,0.019648,0.019986,0.024729,0.699526,5.882453
std,24.840630,1.402237,1357.411378,7.926741,2.372024,0.346595,0.144544,0.145662,0.337934,0.212583,...,0.160416,0.159412,0.152178,0.139977,0.141134,0.138810,0.139977,0.155324,0.458542,1.256122
min,1.000000,2009.000000,80003.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000
25%,1.000000,2010.000000,80103.000000,10.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
50%,1.000000,2011.000000,80463.000000,15.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000
75%,3.000000,2012.000000,81403.000000,20.000000,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000
max,323.000000,2013.000000,89803.000000,34.000000,8.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.000000

In [251]:
df_train.dtypes

patient_id              object
tumor_cell_count         int64
gender                  object
year_of_diagnosis        int64
morphology_code          int64
                        ...
symptom64              float64
symptom65              float64
symptom66              float64
death_due_to_cancer      int64
diag_years             float64
Length: 67, dtype: object

In [252]:
df_train.morphology_code.value_counts()

81403    554
80103    510
80703    406
80003    389
80463    323
80413    227
82463     62
80123     56
80713     53
85603     45
82503     43
82403     43
84803     24
85503     22
82603     21
80423     18
80333     14
80453     14
80203     13
84813     13
80723     11
88003     10
83103      9
80223      6
80323      6
84303      4
80733      4
88103      4
89803      4
89723      4
85703      4
82513      3
83233      2
80013      2
82493      2
82443      2
80213      2
82113      2
88013      2
80313      1
88113      1
87203      1
80109      1
80303      1
80743      1
82003      1
80433      1
80443      1
89633      1
81409      1
80503      1
81233      1
89203      1
88903      1
80833      1
84903      1
80763      1
88023      1
Name: morphology_code, dtype: int64

In [253]:
y=df_train.iloc[: ,-2]

In [254]:
y

0       1
1       1
2       1
3       1
4       1
       ..
2947    1
2948    0
2949    0
2950    1
2951    1
Name: death_due_to_cancer, Length: 2952, dtype: int64

In [255]:
X=df_train.drop(['death_due_to_cancer'],axis=1)

In [256]:
X.drop(['year_of_diagnosis'],axis=1,inplace=True)

In [257]:
gender_male=pd.get_dummies(df_train['gender'],drop_first=True)

In [258]:
X=pd.concat([X,gender_male],axis=1)

In [259]:
X.drop(['gender','symptoms'],axis=1,inplace=True)

In [260]:
train_data=X

In [261]:
X.drop(['patient_id'],axis=1,inplace=True)

In [262]:
from sklearn.feature_selection import SelectKBest,chi2

In [263]:
best_10_features=SelectKBest(score_func=chi2,k=10)

In [264]:
best_10_features.fit(X,y)

SelectKBest(score_func=<function chi2 at 0x00000247478B4940>)

In [265]:
best_10_features.scores_

array([5.26436462e+02, 7.42896074e+02, 3.48175402e-01, 2.07290591e+00,
       2.01345894e+00, 3.23623717e-01, 3.88622530e+00, 1.37359233e+00,
       1.63372557e+00, 6.30411736e-02, 3.57342845e-02, 4.13900833e-01,
       3.82492208e-01, 1.66370199e+00, 4.27343540e-02, 7.52761989e-02,
       7.91700077e+00, 6.59610172e-01, 1.32584816e-01, 1.40785341e-02,
       5.86414400e+00, 1.76180442e+00, 6.49800497e+00, 2.78255216e+00,
       9.80749133e-02, 4.77655410e+00, 4.88616775e-01, 1.32301282e+00,
       1.25846973e+00, 1.25846973e+00, 1.18412037e-01, 3.52400419e+00,
       1.71962643e-01, 3.69790708e-01, 8.43849406e-03, 3.71326946e-04,
       1.23305010e-03, 4.92562381e-03, 5.98310315e-01, 1.05812652e+00,
       7.27243941e-01, 1.01751100e+00, 3.74130220e-01, 1.25846973e+00,
       1.83535819e+00, 1.86059402e-01, 2.21331049e+00, 4.61351185e-01,
       9.84579023e-02, 1.25101733e+00, 4.31233520e-01, 3.62245157e-01,
       1.66782987e+00, 1.16477259e-02, 2.14560063e-01, 6.25305810e-01,
       1.30474066e-01, 1.25071020e+00, 9.63646350e-01, 6.00094589e-01,
       2.43925826e-01, 8.81907426e-01, 1.28084984e+00])

In [266]:
df1=pd.DataFrame(best_10_features.scores_,index=X.columns,columns=['scores'])

In [267]:
df1

                           scores
tumor_cell_count       526.436462
morphology_code        742.896074
smoke_units              0.348175
alcohol_consume_units    2.072906
symptom1                 2.013459
...                           ...
symptom64                0.963646
symptom65                0.600095
symptom66                0.243926
diag_years               0.881907
Male                     1.280850

[63 rows x 1 columns]

In [268]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.fit_transform(X_test)

In [269]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [270]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
lr=LogisticRegression()
lr.fit(X_train, y_train)

LogisticRegression()

In [271]:
y_pred = lr.predict(X_test)

In [272]:
lr.score(X_test, y_test)

0.6785109983079526

In [273]:
accuracy_score(y_test,y_pred)

0.6785109983079526

In [274]:
svms=SVC()
svms.fit(X_train,y_train)
y_pred=svms.predict(X_test)

In [275]:
svms.score(X_test, y_test)

0.6852791878172588

In [276]:
accuracy_score(y_test,y_pred)

0.6852791878172588

In [277]:
from sklearn.ensemble import RandomForestClassifier
reg_rf = RandomForestClassifier()
reg_rf.fit(X_train, y_train)

RandomForestClassifier()

In [278]:
y_pred = reg_rf.predict(X_test)

In [279]:
reg_rf.score(X_train, y_train)

0.9987293519695044

In [280]:
reg_rf.score(X_test, y_test)

0.700507614213198

In [281]:
from sklearn.metrics import confusion_matrix,accuracy_score,recall_score,f1_score,r2_score

In [282]:
accuracy_score(y_test,y_pred)

0.700507614213198

In [283]:
confusion_matrix(y_test,y_pred)

array([[ 57, 129],
       [ 48, 357]], dtype=int64)

In [284]:
recall_score(y_test,y_pred)

0.8814814814814815

In [285]:
score=100*f1_score(y_test,y_pred)

In [205]:
score

80.26607538802661

In [286]:
patient_id=df_test['patient_id']

In [287]:
df_test.drop(['patient_id','year_of_diagnosis','symptoms'],axis=1,inplace=True)

In [288]:
male=pd.get_dummies(df_test['gender'],drop_first=True)

In [289]:
df_test=pd.concat([df_test,male],axis=1)

In [290]:
df_test.drop(['gender'],axis=1,inplace=True)

In [291]:
df_test

,tumor_cell_count,morphology_code,smoke_units,alcohol_consume_units,symptom1,symptom2,symptom3,symptom4,symptom5,symptom6,...,symptom59,symptom60,symptom61,symptom62,symptom63,symptom64,symptom65,symptom66,diag_years,Male
0,1,80003,25,4,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1
1,1,82503,12,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1
2,1,80703,3,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,1
3,1,80103,20,0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,1
4,1,80003,25,8,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,1,82503,15,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.0,0
1965,1,81403,3,3,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,1
1966,1,81403,10,6,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0
1967,1,80463,10,2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0
1968,3,80103,34,8,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0

In [292]:
df_test.fillna(0,inplace=True)

In [293]:
y_test_pred=reg_rf.predict(df_test)

In [296]:
df = pd.DataFrame(y_test_pred, columns = ['predictions'])

In [297]:
predictions_test_data=pd.concat([patient_id,df],axis=1)

In [299]:
predictions_test_data.rename(columns = {'predictions':'death_due_to_cancer'}, inplace = True)

In [300]:
predictions_test_data

          patient_id  death_due_to_cancer
0      TCBA-B8-0x7e9                    1
1      TCBA-B8-0x6bc                    1
2     TCBA-B8-0x1195                    1
3      TCBA-B8-0x8a5                    1
4      TCBA-B8-0xa21                    1
...              ...                  ...
1964   TCBA-B8-0xc5f                    1
1965   TCBA-B8-0x267                    0
1966   TCBA-B8-0xce9                    1
1967   TCBA-B8-0xc20                    1
1968   TCBA-B8-0x742                    1

[1969 rows x 2 columns]

In [301]:
predictions_test_data.to_csv('cancer_pred.csv')